
                
                    <header>
                        <h2 style="color:antiquewhite;  background-color: rgb(184, 85, 85); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Login Here!</h2>
                    </header>
                    <div style="padding:10px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                        <label for="Username">Username:</label>
                        <input type="text" placeholder="abc@gmail.com"></div>
                        <div style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                            <label for="Password">Password:</label>
                            <input type="password" placeholder="Abc@12"></div>
                            <div style="padding: 10px;">
                                <button onclick="show()">Submit</button>
                            




                        
                   
                

