<!-- <hr>
  <h2>MATH</h2>
  <h3>Enter a number:  <input type="text" [(ngModel)]="num"></h3>
  <button type="button" (click)="factorial(num),prime(num)">Run</button>
  <h3>Result: {{r}}</h3>

  <div *ngIf="isPrimeNumber; else notPrimeNumber">
    <h3>Prime: <span [style.background-color] = "isPrimeNumber">&nbsp;&nbsp;&nbsp;&nbsp;</span> </h3>
  </div>
<ng-template #notPrimeNumber>
    <h3>Not Prime: <span [style.background-color] = "notPrimeNumber">&nbsp;&nbsp;&nbsp;&nbsp;</span> </h3>
</ng-template>
   -->