<h1 style align="center">
   Products List

</h1>
<table>
	<thead>
		<tr>
			
			<th scope="col">Product name</th>
			<th scope="col">Amount</th>&nbsp;
			<th scope="col">Cost</th>&nbsp;&nbsp;&nbsp;&nbsp;
			<th scope="col">Discount</th>&nbsp;&nbsp;&nbsp;&nbsp;
			<th scope="col">Final cost</th>&nbsp;
			<th scope="col">Options</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			
			<td>Product 1</td>
			<td><input type="text" name="amount" /></td>&nbsp;
			<td>100</td>&nbsp;
			<td>20%</td>&nbsp;
			<td>80</td>&nbsp;
			<td><a href="#">delete</a></td>
		</tr>
		<tr>
			
			<td>Product 2</td>
			<td><input type="text" name="amount" /></td>&nbsp;
			<td>100</td>&nbsp;
			<td>20%</td>&nbsp;
			<td>80</td>&nbsp;
			<td><a href="#">delete</a></td>
		</tr>
		<tr>
			
			<td>Product 3</td>
			<td><input type="text" name="amount" /></td>&nbsp;
			<td>100</td>&nbsp;
			<td>20%</td>&nbsp;
			<td>80</td>&nbsp;
			<td><a href="#">delete</a></td>
		</tr>
		<tr>
			
			<td>Product 4</td>
			<td><input type="text" name="amount" /></td>&nbsp;
			<td>100</td>&nbsp;
			<td>20%</td>&nbsp;
			<td>80</td>&nbsp;
			<td><a href="#">delete</a></td>
		</tr>
	</tbody>
</table>
